/* @import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


body{
    font-family: "Poppins";
    margin: 0;
    font-size: 13px;
    background-color: #282328;
    color: #eee;
}

a{
    text-decoration: none;
    font-weight: bold;
    cursor: pointer;
    /* font-size: 30px; */
}

header{
    position: fixed;
    width: 100%;
    z-index: 100;
    text-align: center;
    margin-top: 10px;
}

header nav a{
    color: #eee;
    font-size: small;
    margin: 0 30px;
}

.tab{
    width: 100%;
    height: 100vh;
    overflow: hidden;
    position: relative;
    /* background-image: url(images/bg1.png); */
    background-size: 50%;
    background: linear-gradient(45deg, #1e1e2f, #2a2a40);
    background-size: cover;
}

.container{
    width: 1140px;
    max-width: 100%;
    height: 100%;
    padding-top: 50px;
    box-sizing: border-box;
    margin: auto;
    position: relative;
}

#intro .avatar img{
    /* height: 300px;
    width: auto; */
    height: 100%;
    /* filter: saturate(0.5); */
}

#intro .avatar{
    text-align: right;
    height: 100%;
}

#intro .content{
    position: absolute;
    top: 50%;
    transform: translateY((-50%));
    left: 50px;
    width: 500px;
    max-width: 80%;
}

#intro .content .name,
#intro .content .job{
    font-size: 6em;
    font-family: Righteous;
    line-height: 1em;

}

.text-gradient{
    background-image: linear-gradient(
        to right, #E4454A, #CA3EA7
    );
    display: inline-block;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}

#intro .content .des{
    margin-top: 1.2em;
    width: 70%;
}

#intro .content a{
    margin-top: 1.2em;
}

#intro .content i{
    font-size: 10em;
    color: #293b4c;
    position: absolute;
    top: -50px;
    right: -50px;
}

#experience{
    background-image: linear-gradient(
        45deg, #212632, #242A34, #3C4C5A
    );
    background-size: cover;
}

#experience .list{
    height: 100%;
    /* width: max-content; */
    width: 100%;
    display: flex;
    justify-content: center;
    padding-left: 50px;
    box-sizing: border-box;
    gap: 20px;
    position: relative;
    z-index: 1;
}



#experience .list .item{
    width: 200px;
    flex-shrink: 0;
    display: grid;
    grid-template-rows: 1fr 50px 1fr;
    gap: 20px;
}

#experience .list .item i{
    background-color: #444b57;
    width: 50px;
    font-size: 2em;
    color: #16222d;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}

#experience .list .item .time{
    font-size: large;
    display: flex;
    align-items: end;
}

#experience .list .item .content .job{
    font-size: large;
}

#experience .list .item .content .company{
    color: #E4454A;
}

#experience .list .item .content .des{
    font-size: 0.8em;
    opacity: 0.7;
}

#experience .list .item:nth-child(odd) .content{
    grid-row-start: 1;
    grid-row-end: 2;
    display: flex;
    flex-direction: column;
    justify-content: end;
}

#experience .list .item:nth-child(odd) .time{
    grid-row-start: 3;
    grid-row-end: 4;
    align-items: start;
}

#experience .list::before{
    position: absolute;
    top: 50%;
    width: 100%;
    height: 2px;
    background-color: #444b57;
    content: "";
    z-index: -1;
}

#experience .container{
    overflow: auto;
}

#skill{
    background-image: linear-gradient(
        45deg, #3a2530, #171514, #412726
    );
    background-size: cover;
}

#skill .list{
    /* height: 100%; */
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 50px;
    box-sizing: border-box;
    gap: 0;
    height: 100vh;    
    overflow-y: auto; 
}

#skill .list .item{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 20px;
}

#skill .list .item:nth-child(odd){
    background-color: #3f2525;
}

#skill .list .item i{
    width: 50px;
    height: 50px;
    background-color: #eee;
    color: #ca3ea7;
    font-size: 2em;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 10px 10px #0005;
    margin: 5px 5px;
}

#skill .list .item .name{
    font-size: 1.5em;
    margin-top: 0.7em;
    padding: 7px;
}

#skill .list .des{
    font-size: small;
    opacity: 0.8;
    padding: 7px;

}

#project{
    background-color: #cfbaba;
    color: #444b57;
}

#project .list{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    padding: 50px;
}

#project .list .item img{
    width: 100%;
    height: 150px;
    object-fit: cover;
}

#project .list .item .des{

    padding: 7px;
}


#project .list .item{
    border-radius: 30px;
    background-color: #fff;
    overflow: hidden;
    position: relative;
}

#project .list .item .index{
    font-weight: bold;
    font-size: 1.5em;
    position: absolute;
    transform: translateY(-100%);
    background-color: #fff;
    padding: 10px;
    font-style: italic;
    border-top-right-radius: 20px;
}

#project .list .name{
    font-weight: bold;
    font-size: large;
    padding: 10px;
}

#project .list .item .author{
    display: flex;
    justify-content: space-between;
    padding: 10px;
    border-top: 3px solid #eee;
}

#project .list .item .job{
    font-weight: bold;
}

#project .container{
    overflow: auto;
}

::-webkit-scrollbar{
    width: 0;
}

#contact{
    background-color: #242330;
}

#contact .thank{
    font-size: 5em;
    font-weight: bold;
    text-align: center;
}

#contact .container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#contact .des{
    width: 500px;
    max-width: 80%;
    text-align: center;
}

#contact .list .item{
    display: inline-block;
    margin: 10px 30px;
}

@media screen and (max-width: 199px){
    #intro .avatar img{
        transform: translateX((200px));
    }
}

@media screen and (max-width: 767px){
    body{
        font-size: 10px;
    }
    header nav a{
        margin: 10px;
    }
    #intro .avatar img{
        transform: none;
    }
    #intro .content .name{
        font-size: 4em;
    }
    #skill .list{
        padding: 0;
        grid-template-columns: repeat(2, 1fr);
    }
    #skill .list .item:nth-child(odd){
        background-color: unset;
    }
    #skill .list .item:nth-child(2),
    #skill .list .item:nth-child(3n){
        background-color: #3f2525;
    }
    #project .list{
        padding: 10px;
        grid-template-columns: repeat(2, 1fr);
        gap: 5px;
    }
    #project .list .item img{
        height: 100px;
    }
   
}



.tab{
    position: fixed;
    inset: 0 0 0 0;
    z-index: 1;
}
#intro{
    z-index: 2;
}

.tab.active{
    --x: 50%;
    --y: 50%;
    clip-path: circle(
        200% at var(--x) var(--y)
    );
    animation: showTab 1s ease-in-out 1;
}
@keyframes showTab{
    from{
        clip-path: circle(
            0% at var(--x) var(--y)
        );
    }
}

.contact-form {
    width: 400px;
    max-width: 90%;
    margin-top: 20px;
}

.form-group {
    margin-bottom: 15px;
    width: 100%;
}

.contact-form input,
.contact-form textarea {
    width: 100%;
    padding: 10px;
    border-radius: 8px;
    border: none;
    outline: none;
    background: #1e1d26;
    color: #eee;
}

.error {
    color: #E4454A;
    font-size: 0.8em;
    display: block;
    margin-top: 5px;
    height: 14px;
}

.submit-btn {
    background: #E4454A;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 8px;
    font-size: 1em;
    cursor: pointer;
    margin-top: 10px;
}


.carousel{
  width: 800px;
  height: 350px;
  margin: 100px auto;
  position: relative;
  overflow: hidden;
  border-radius: 10px;
}

.slides img{
  width: 100%;
  height: 100%;
  position: absolute;
  opacity: 0;
  transition: opacity 0.7s ease;
}

.slides img.active{
  opacity: 1;
}

.dots{
  position: absolute;
  width: 100%;
  bottom: 15px;
  display: flex;
  justify-content: center;
  gap: 8px;
}

.dot{
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background: #ddd;
  cursor: pointer;
  transition: background 0.3s;
}

.dot.active{
  background: #333;
}

#featured h1 {
    text-align: center;        
    font-size: 3em;            
    margin-top: 40px;
}

#featured h1 span {
    display: inline-block;
}
